.feed {
  margin: 20px;
  height: fit-content;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.feed-blog {
  margin-bottom: 15px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-wrap: nowrap;
  background-color: #c0d8e1;
}

.feed-blog-thumbnail {
  width: 150px;
  height: auto;
  margin-right: 10px;
  grid-area: 1 / 1 / 4 / 2;
}

.feed-blog-title {
  font-size: 19px;
  font-weight: bold;
  grid-area: 1 / 2 / 2 / 3;
}

.feed-blog-writer {
  font-style: italic;
  grid-area: 2 / 2 / 3 / 3;
}

.feed-blog-date {
  font-style: italic;
  grid-area: 3 / 2 / 4 / 3;
  text-align: end;
  width: 135px;
}

.feed-blog-date {
  margin-left: auto;
}
