.feed {
  margin: 20px;
  height: fit-content;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.feed-blog {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c2cbd2;
  cursor: pointer;
  width: 230px;
  position: relative;
}

.feed-blog-thumbnail {
  width: 230px;
}

.feed-blog-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
}

.feed-blog-topic {
  background-color: #003135;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  color: #f5efe6;
  position: absolute;
  right: -1px;
  top: 15px;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1100px) {
  .feed {
    gap: 20px;
  }
  .feed-blog,
  .feed-blog-thumbnail {
    width: 300px;
  }
}
