.comment-section {
  margin: 0 auto 30px;
}

.comment-section > .comments {
  margin-top: 40px;
}

.comment-editor {
  margin: auto;
  max-width: 980px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.comment-editor > textarea {
  font-size: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  resize: none;
  width: calc(100% - 38px);
  padding: 18px 18px 0;
  overflow: hidden;
  border: 2px solid #003135;
  font-family: inherit;
  height: 47px;
}

.comment-editor > button {
  background-color: #003135;
  padding: 1px 5px;
  border-radius: 5px;
  color: #f5efe6;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  height: 25px;
  width: 60px;
}

.comments {
  padding-left: 30px;
  max-width: 980px;
  margin: auto;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 7px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  margin: 0 auto 10px;
}

.comment-user {
  font-weight: bold;
  font-size: 17.5px;
}

.comment-text {
  padding-left: 10px;
  font-size: 16px;
}

@media screen and (max-width: 1080px) {
  .comment-section {
    margin-inline: 30px;
  }

  .comment-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 560px) {
  .comment-section {
    margin-inline: 10px;
  }

  .comment-section > .comments {
    margin-top: 30px;
  }

  .comments {
    padding-left: 20px;
  }

  .comment {
    padding: 5px 12px;
  }

  .comment-user {
    font-size: 16px;
  }

  .comment-text {
    padding-left: 0;
    font-size: 14px;
  }
}
