.content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 980px;
  margin: 0 auto 30px;
}

.content h1 {
  margin: 15px 0;
  line-height: 1.3;
}

.content h2 {
  margin-top: 50px;
}

.content p {
  text-align: justify;
  font-size: 17px;
  line-height: 1.7;
}

.content a {
  font-weight: bold;
  color: #0080a8;
  text-decoration: none;
}

.content blockquote {
  background-color: #c2cbd269;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 15px;
  text-align: justify;
}

.content-info {
  margin-bottom: 40px;
}

.content-info span {
  margin-left: 30px;
  font-size: 14px;
}

.content-tags {
  margin-top: 40px;
  display: block;
}

.content-tags span {
  background-color: #003135;
  padding: 1px 5px;
  border-radius: 5px;
  color: #f5efe6;
  font-size: 11px;
  margin-left: 10px;
  cursor: pointer;
  text-wrap: nowrap;
}

@media screen and (max-width: 1080px) {
  .content {
    margin-inline: 30px;
  }
}

@media screen and (max-width: 560px) {
  .content {
    margin: 0 10px 10px;
    padding: 15px;
  }

  .content h1 {
    margin: 5px 0;
    font-size: 28px;
  }

  .content h2 {
    font-size: 21px;
    margin-top: 35px;
  }

  .content p {
    font-size: 15px;
  }

  .content ul {
    padding-right: 15px;
  }

  .content blockquote {
    padding: 1px 15px;
    margin: 10px 0;
    font-size: 14px;
  }

  .content-info span {
    margin-left: 15px;
    font-size: 12px;
  }
}
