.blog {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.blog-info {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.blog-info-title {
  font-weight: bold;
  flex-basis: 100%;
  margin: 15px 0;
  line-height: 1.3;
}

.blog-info span {
  margin-right: 30px;
  font-size: 13px;
}

.blog-info-topic {
  background-color: #003135;
  padding: 1px 5px;
  border-radius: 5px;
  color: #f5efe6;
}

.blog-info-author,
.blog-info-date {
  font-style: italic;
}

.blog-text p {
  text-align: justify;
  font-size: 17px;
  line-height: 1.7;
}

@media screen and (max-width: 1100px) {
  .blog {
    margin: 10px;
  }
  .blog-info-title {
    margin: 5px 0;
  }
  .blog-info span {
    margin-right: 15px;
    font-size: 12px;
  }
  .blog-text p {
    font-size: 15px;
  }
}
