.blog {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.blog-info {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.blog-info-title {
  font-size: 30px;
  font-weight: bold;
  flex-basis: 100%;
}

.blog-info span {
  margin-right: 30px;
  font-size: 12px;
}

.blog-info-topic {
  background-color: #003135;
  padding: 1px 5px;
  border-radius: 5px;
  color: #f5efe6;
}

.blog-info-writer,
.blog-info-date {
  font-style: italic;
}

.blog-text p {
  margin: 10px 0;
  text-align: justify;
}
