.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #e8dfca;
  height: 50px;
  margin-bottom: 75px;
}

.header-logo {
  width: 150px;
  height: 75px;
  align-self: baseline;
  background-color: #4f6f52;
  margin-left: 35px;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.header-topics {
  display: flex;
  justify-content: center;
}

.header-topics span {
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header-topics span:hover {
  background-color: #4f6f52;
  color: #f5efe6;
}

.header-search {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f5efe6;
  border: solid 2px #4f6f52;
  color: #4f6f52;
}
