.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #c2cbd2;
  height: 50px;
  margin-bottom: 75px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.header-logo {
  width: 160px;
  height: 80px;
  align-self: baseline;
  background-color: #003135;
  margin-left: 35px;
  text-align: center;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.header-topics span {
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;
  font-weight: 700;
  font-size: 20px;
}

.header-topics span:hover {
  background-color: #003135;
  color: #f5efe6;
}

.header-search {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f5efe6;
  border: solid 2px #003135;
  color: #003135;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 20%;
  height: 20px;
}

@media screen and (max-width: 1100px) {
  .header {
    height: 40px;
  }
  .header-topics {
    display: none;
  }
  .header-search {
    width: 35%;
    height: 15px;
  }
  .header-logo {
    margin-left: 5px;
  }
  .header-logo {
    width: 120px;
    height: 60px;
  }
}
