:root {
  background-color: #f5efe6;
  color: #003135;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: Cairo, Cantarell, Calibri, Arial;
}

.separator {
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .separator {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}