:root {
  background-color: #F5EFE6;
  color: #242424;  
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: 'Comic Sans', Cantarell, Calibri, Arial;
}

.separator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}