:root {
  background-color: rgb(196, 196, 196);
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: Cantarell, Calibri, Arial;
}

.separator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}